:root {
  --primary-color: #111;
  --secondary-color: #f2f2f2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  box-sizing: border-box;
}

.hero-header {
  min-height: 100vh;
  background-color: var(--primary-color);
}

.container {
  width: 95%;
  margin: 0 auto;
}

.toggle {
  position: fixed;
  right: 4%;
  top: 5%;
  color: #fff;
  height: 50px;
  width: 50px;
  line-height: 50px;
  background-color: #2b2a2a;
  border-radius: 50%;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.header-content .profile {
  height: 550px;
  width: 640px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 7px 5px 28px rgba(0, 0, 0, 0.1);
}

.profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-content .text-content {
  padding: 2rem 3.5rem;
  margin: 1.2rem;
  color: var(--secondary-color);
  width: 80%;
}

.header-content .text-content h1 {
  font-size: 3.5rem;
  color: #6462d6;
  position: relative;
  line-height: 3.6rem;
  margin-bottom: 1.5rem;
}

.header-content .text-content h1::before {
  content: '';
  background-color: #6462d6;
  position: absolute;
  top: 25%;
  left: -6%;
  height: 5px;
  width: 30px;
  border-radius: 10px;
}

.header-content .text-content h1 span {
  color: var(--secondary-color);
}

.navigation .nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 0.8rem;
}

.navigation .nav a {
  position: relative;
  font-size: 18px;
  display: block;
  margin: 10px;
  transition: 0.5s;
  color: var(--secondary-color);
}

.navigation .nav a i {
  height: 50px;
  width: 50px;
  line-height: 50px;
  background-color: #2b2a2a;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}

.navigation .nav a:hover i {
  background-color: #6462d6;
  color: var(--secondary-color);
}

.header-content .button {
  position: relative;
  width: 240px;
  min-height: 45px;
  line-height: 45px;
  overflow: hidden;
  border: 1px solid #6462d6;
  border-radius: 35px;
  margin: 2.5rem;
  color: var(--secondary-color);
  background-color: transparent;
  font-size: 1rem;
}

.button .text {
  font-size: 1.125rem;
}

.button .icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 47px;
  width: 47px;
  border-radius: 35px;
  background-color: #6462d6;
  color: #fff;
  font-size: 1.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.button:hover .icon {
  width: 100%;
}
